body{
  font-family: sans-serif;
  font-weight: 100;
  display: block;
}

header{
  padding: 20px;
  margin: 30px;
  width: auto;
}

li{
  display: inline-block;
  text-decoration: none;
  color: tomato;
}

.primaryNav{
  float: left;
  word-spacing: 30px;
}

.primaryNav img{
  height 30px;
}

.primaryNav a{
  text-decoration: none;
  color: tomato;
}

.secondaryNav{
  float: right;
  word-spacing: 30px;
}

.secondaryNav a{
  text-decoration: none;
  color: tomato;
}

.body1{
  overflow: hidden;
  display: inline-block;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, deeppink, tomato);
}

.caption{
  vertical-align: top;
  display: inline-block;
  float: left
}
.middleAnchor{
  position: absolute;
  float: left;
}

.middleAnchor a{
  text-decoration: none;
  color: white;
}

.middleImage{
  position: relative;
  float: left;
  padding: 20px;
}

.middleContent{
  padding-left: 30px;
  float: right;
  width: 600px;
  border: solid clear;

}

.middleHeader h1{
  color: white;
  font-size: 40px;
  font-weight: 100;
}

.middleHeader p{
  color: #A93226;
  display: table-cell;
  border-bottom: dotted #A93226;
  text-align: left;
}

.middleDis p{
  color: white;
}

.middleDis a{
  text-decoration: none;
  color:#A93226;
  border-bottom: dotted #A93226;
}

.price{
  padding: 50px;
}

.price a{
  text-decoration: none;
  color: white;
}

.middleButton{
  text-align: left;
  background-color: white;
  font-size: 16px;
  border: none;
  color: orangered;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*font-size: 16px;*/
  /*margin: 4px 2px;*/
  /*cursor: pointer;*/
  border-radius: 8px;
}

.middleButton a{
  padding-right: 20px;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
}

.productionHeader{
  display: inline-block;
  color: tomato;
  font-size: 20px;
  border-bottom: solid tomato;
}

.centerPn{
  float: left;
}

.reviews{
  float: right;
}

.productionDetails{
  padding-bottom: 60px;
  background-color: white;
  color: black:
}

.productionDetails h1{
  font-size: 30px;
  font-weight: lighter;
}

.Header{
  text-align: center;
  background-color: mistyrose;
  color: black;
  font-weight: lighter;
  font-size: 12px;
  padding: 20px;
}

.shoeOptions{
  padding-left: 100px;
  padding-right: 50px;
  overflow: hidden;
  border: solid black;
  background: linear-gradient(to right, #E91E63   , tomato);
  color: white;
  font-size: 12px;
  border: 5px;
}

.threeOptions{
  padding: 50px;
  border: solid transparent;
  vertical-align: center;
}
.sneaker{
  vertical-align: center;
  border: solid transparent;
  padding: 10px;
  display: inline-block
}

.sneakerImage{
height: 200px;
}

.desciption{
  display: inline-block;
}

.sneakerName{
  text-align: left;
  border: solid transparent;
}

.subTitle{
  font-size: 15px;
  color: #A93226;
}

.sneakerPrice{
  color: white;
  float: : right;
  font-size: 16px;
  text-decoration: none;
}

footer{
  bottom: 0;
  width: auto;
  height: 60px;
  padding: 20px;
  border: 20px;
}

.footer{
}

li{
  display: inline-block;
  text-decoration: none;
  color: tomato;
}


.bottomprimaryNav{
  float: left;
  word-spacing: 30px;
}

.bottomprimaryNav a{
  text-decoration: none;
  color: tomato;
}

.bottomsecondaryNav{
  float: right;
}

.bottomsecondaryNav a{
  text-decoration: none;
  color: tomato;
}
